name : NodeJs Application and Caching
on:
    push:
        branches:
                main
jobs:
    docker-build:
        runs-on: ubuntu:latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Docker Image Build 
              uses: docker/setup-buildx-action@v2

            - name: Build and Push Image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: "amaurya07/devsecops_app:latest"
                cache-from: type=gha
                cache-to: type=gha,mode=max